/* Estilos CSS para el cuerpo */
.body {
    margin: 0;
    padding: 0;

}
/* --------------------------------------------- */


/* Estilos CSS para el espacio de color negro */
.black-bar {
    background-color: black; 
    height: 30px; 
    width: 100%; 
    margin: 0; 
    padding: 0px; 
    left: 0; 
    z-index: 1; 
}
/* --------------------------------------------- */


/* Estilos CSS para el menú de navegación */
.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menu-button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255); 
    color: rgb(212, 201, 0); 
    text-decoration: none;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 25px;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Playfair Display', serif;
}

.menu-divider {
    color: rgb(15, 11, 11); 
    margin: 0 10px; 
}

.menu-button:hover {
    background-color: #ffe15a; 
    color: black; 
    border-bottom: 2.5px solid #ff0000;
}
/* --------------------------------------------- */


/* Estilos CSS para la barra horizontal debajo del menú */
.lm {
    border: none;
    border-bottom: 1px solid #bbbbbb; 
    width: 100%;
    position: absolute;
    top: 76px
    
}
/* --------------------------------------------- */


/* Estilos CSS para el mensaje de Bienvenida */
.inf0 {
    text-align: center;
    font-size: 35px;
    font-family: 'Inclusive Sans', sans-serif;
    padding: 6px;
    padding-bottom: 17px;
    padding-left: 50px;
    padding-right: 50px;

}
/* --------------------------------------------- */


/* Estilos CSS para la imagen de Portada */
.img1 {
    display: block;
    margin: 0 auto;
    width: 1400px;
    height: 700px;

}
/* --------------------------------------------- */


/* Estilos CSS para la barra horizontal 1 */
.lm2
{
    border: none;
    border-bottom: 1px solid #bbbbbb; 
    width: 100%
}
/* --------------------------------------------- */


/* Estilos CSS para la barra horizontal 2 */
.lm3
{
    border: none;
    border-bottom: 1px solid #bbbbbb; 
    width: 100%;
    padding-top: 150px;
}
/* --------------------------------------------- */


/* Estilos CSS para la informacion de pagina*/
.p2 {
    text-align: justify;

}

.pr {
    font-family: sans-serif;
    font-size: 22px;
    padding-top: 1%;
    margin-left: 450px;
    margin-right: 450px;

}

.pr2 {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 30px;
    padding-top: 1%;
    margin-left: 450px;
    margin-right: 450px;
    
}
/* --------------------------------------------- */

/* Estilos CSS para la imagen 3 y 4 */
.img2 {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 250px;
    padding-bottom: 1%;

}
/* --------------------------------------------- */


/* Estilos para pie de página */
.footer {
    background-color: black; 
    color: white; 
    text-align: center;
    padding: 10px 0; 
    font-size: 15px;
    width: 100%;
}
/* --------------------------------------------- */

